<main>
    <div class="container">
        <h5>Игры для скачивания</h5>
        <div class="content">
            <ul class="list">
                {{#each games}}
                    <li>
                        <a href="/gameManager/DownloadGames/{{gameName}}">
                            <div class="picture center">
                                <img alt={{gameName}} src={{photoLink}}>
                                <div class="description">
                                    <span class="game-name">{{gameName}}</span>
                                    <span class="developer-name">{{developer}}</span>
                                    <form action="/gameManager/installedGames/deleteGame" method="POST">
                                            <input type="hidden" name="deleteGame" value={{_id}}>
                                            <button class="btn btn-danger" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</main>